.feed {
  padding: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expi-date {
  text-align: right;
}

.item-date-list{

    width: 100%;
    max-width: 600px;
    background-color: white;
    position: relative;
    overflow: auto;
    max-height: 420px;
}

.item-date-list ul{
  padding: 0;
}