.item-entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 10px;
  padding: 10px 0 10px 0;
}

.modal {
  display: flex;
  justify-content: center;
  flex-direction: vertical;
}

.button {
  background-color: white;
  border-radius: 10%;
  font-size: large;
}

.button:hover {
  background-color: aquamarine; /* Green */
  color: white;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  bgcolor: "background.paper";
  border: 2px solid #000;
  boxshadow: 24;
  p: 4;
}
